    .DailyCheckBtn{
      margin: 1.5rem 0 0 0;
      color: blue;
      --background: transparent;
      background-color: transparent;
      border-top: 1px solid gray;
      border-radius: 4px;
      /* padding: 8px 16px; */
    }
    .SubTitle
    {
      margin-top:0.5rem;
      font-size: 16px;
    }
    .card
    {
      margin-top: 0.2rem;
      /* margin-right: 0; */
    }
    .checkInRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .iconContainer {
      display: flex;
      align-items: center;
    }
    
    .icon {
      margin-left: 0.5rem;
    }
      
      .checkInRow {
        display: flex;
        align-items: center;
      }
      
      .medicationInfo {
        display: flex;
        align-items: center;
      }
      
      .icon {
        margin-left: 0.5rem;
        font-size: 25px;
      }
      