.DailyCheckBtn{
    margin: 1.5rem 0 0 0;
    color: blue;
    --background: transparent;
    background-color: transparent;
    /* border-top: 1px solid gray; */
    border-radius: 4px;
    padding-top: 0px;
    /* padding: 8px 16px; */
  }
  .row
  {
    border-top: 1px solid gray;
    padding-top: 0px ;
  }
  .SubTitle
  {
    margin-top:0.5rem;
    font-size: 16px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid gray; */
  }
  .card
  {
    margin-top: 0.2rem;
    /* margin-right: 0.2px */
  }
  .checkInRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .iconContainer {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-left: 0.5rem;
  }
    
    .checkInRow {
      display: flex;
      align-items: center;
    }
    
    .medicationInfo {
      display: flex;
      align-items: center;
    }
    
    .icon {
      margin-left: 0.5rem;
      font-size: 25px;
    }
    